$white: #ffffff;
// basic
$basic-b: #111123;
// black
$gray-light: #fafafa;
$gray-border: #cfbeaf;
$black: #262626;
$black-title: #202439;
$black-text-secondary: #474953;
$black-text: #5f626d;
$black-primary: #15151f;

$black-80: #525252;
$black-60: #7d7d7d;
//blue
$blue: #3048a6;
$blue-dark: #334488;
$blue-heavy: #202e69;
$asphalt: #7d84a0;
$blue-light: #e2f2fb;
$blue-light-2: #ebeef9;
$blue-text: #027cbf;
$blue-50: #e9f1fc;

//brown
$brown: #986b4d;
$brown-secondary: #f3e2d3;
$brown-light: #f0e8df;
$brown-background: #ede2d7;
$brown-background2: #fbf2ea;
$brown-background3: #edd5c7;

//beuge
$beuge-super-light: #efeae4;
$beuge: #ede2d7;
$beuge-dark: #cfbeaf;
$beuge-middle-light: #e7dacf;
$beuge-light: #f4f3f2;
$beuge-light-2: #e0e0e0;

//border
$light-border: #e3e4e8;
$dark-border: #787b88;

//grey
$grey-middle: #9a9a9a;
$grey-dark: #333333;
$grey-middle: #828282;
$grey-basic-400: #93959f;
$grey-basic-300: #aeb0b7;
$lightgreen: #e5f8e9;

$green-success: #1fad60;
$green-success-2: #27ae60;
$yellow-warning: #fdbe42;
$red-error: #d63429;
$red-failed: #de6c65;
$red-failed-2: #eb5757;
$red: #c63026;

// green
$green: #45bf7f;
$light-green: #daf2e5;

// pastel
$pastel-peach-150: #ffceb2;

$blue-hover-menu: #3955c6;
$blue-active-menu: #3048a6;
$desktop-menu-bg: white;
